<header class="header">
  <nav class="nav d-flex justify-content-center align-items-center pt-4">
    <div class="d-flex align-items-center" style="font-family: Kiwi Maru;">
      <div class="mr-4">
        <%= link_to '掲示板一覧', root_path, class: 'nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
      </div>
      <div class="mr-4">
        <%= link_to '新規投稿', new_board_path, class: 'nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
      </div>
      <div class="mr-4">
        <div class="logo">
          <%= image_tag 'logo2.png', root_path, width: 150, height: 150 %>
        </div>
      </div>
      <div class="mr-4">
        <%= link_to '準備中', '#', class: 'nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
      </div>
      <div>
        <%= link_to 'ログアウト',  logout_path, class: 'nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover', data: { turbo_method: :delete } %>
      </div>
    </div>
  </nav>
</header>
