<%= form_with model: board, local: true do |f| %>
  <div class="form-group mt-4 text-black-50" style="font-family: Kiwi Maru;">
    <%= f.label :prefecture_id, '旅行した都道府県' %>
    <%= f.collection_select :prefecture_id, @prefectures, :id, :name %>
  </div>

  <div class="form-group mt-2 text-black-50">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mt-2 text-black-50">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

    <div class="row mb-3">
      <%= f.label :board_image %>
      <%= f.file_field :board_image, multipart: true, class: 'form-control', accept: 'image/*' %>
      <%= f.hidden_field :board_image_cache %>
    </div>
    <div class='col-md-3'>
      <div class="row mb-3">
        <% if @board.board_image.present? %>
          <div class='col-md-6 offset-md-3 text-center'>
            <%= image_tag @board.board_image.url, class: "card-img-top img-fluid", size: '300x200' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= f.submit class: 'btn btn-primary mb-4' %>
<% end %>